* {
    box-sizing: border-box;
    font-family: 'Roboto', sans-serif;
    font-size: 100%;
}

html, body{
    width: 100vw;
    height: 100vh;
    margin: 0;
    padding: 0;
    display: block;
    justify-content: center;
    overflow: hidden;
    background-image: url("background/cloudy.gif");
    background-size: cover;
}

header{
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 10px 0;
}

#weatherToday{
    width: 15%;
    min-height: 27%;
    max-width: 27%;
    background: rgba(30, 87, 166, 0.6);
    border: 2px solid rgba(30, 87, 166);
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;
}

#weather5Days{
    display: flex;
    margin-top: 2%;
}

#weatherEachDay{
    flex-wrap: wrap;
    width: 15%;
    height: 27%;
    background: rgba(30, 87, 166, 0.6);
    border: 2px solid rgba(30, 87, 166);
    border-radius: 10px;
    text-align: center;
    margin: 0 auto;
    color: white;

}

img{
    margin: -15%;
}

/*#weatherToday > img{*/
/*    margin: -10%;*/
/*}*/

input, button {
    font-size: 1rem;
    padding: 10px;
    margin: 5px;
    border-radius: 10px;
    border: 2px solid rgba(30, 87, 166);
}

button{
    background: rgba(30, 87, 166);
    color: white;
    border: none;
}

button:hover{
    transform: scale(1.1);
    cursor: pointer;
    transition: transform 0.2s;
}
